* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home */
         
.contenedor__header {
    @import "vars";
    background-color: $fondoNegro;

    .contenedor__titulo {
        text-align: center;
       
    }
    
}

.contenedor__hambur {
    .contenedor__listas {
        li {
            display: inline;
            padding: 20px;
            a {
                text-decoration: none;
                font-size: 25px;
                font-weight: 600;
            }
        }    
    }
}
.contenedor__hambur {
    .contenedor__listas {
        li {
            a:hover {
                color: red;
                font-weight: 990;
            }
        }
    }
}
@mixin prueba {
    font-weight: 800;
    line-height: 1,5;
    text-transform: uppercase;
    font-family: 'Caudex', serif; 
}

.main__home {
    @import "vars";
    background-color:$fondoBlanco;
    height: auto;
    width: auto;

    .main__container {
        @import "vars";
        background-color:$colorFondo;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .main__foto1 {
            width: 100%;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
      
       
       
        .main__info {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            h2 {
                @include prueba;    
            }
            p {
                @include prueba;   
            }
            a {
                background-color: gray;
                color: black;
                text-decoration: none;
                @include prueba;
            }        
        }
        .main__foto2 {
            width: 100%;
           
            img {
                width: 100%;
                height: 100%;
            }
        }
      
    }

}

.data__info {
    @import "vars";
    background-color:$fondoNegro;
    display: flex;
    flex-direction: column;
    align-items: center;

    .data__contenedor {
        @import "vars";
        background-color:$fondoNegro;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        h1 {
            padding: 10px 10px 30px;
            @include prueba;
        }
        p {
            letter-spacing: 2px;
            @include prueba;
        }
        h3 {
            @include prueba;
        }
        
    }
    .data__img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        img {
            width: 100%;
        }
    }
    
}

.box__info {
    @import "vars";
    background-color:$colorFondo;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .info__style {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        h2 {
            @include prueba;
            @import "vars";
            color:$fondoNegro;
        } 
        p {
            @include prueba;
            @import "vars";
            color:$fondoNegro;

        }
        strong {
            @import "vars";
            color:$fondoParadise;
        }
    } 
    .info__style2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }  
}
.pie {
    .contenedor__pie {
        background-color: black;
        display: flex;
        justify-content: space-around;
        .box__pie1 { 

            color:blueviolet;
            h3 {
                @include prueba;
            }
            ul {
                li {
                    @include prueba;
                    list-style: none;   
                } 
                
            }
        }
        .box__pie2 {
            color: blueviolet;
            h3 {
                @include prueba;
            }
            li {
                @include prueba;
                list-style: none;
            }
        }
        .box__pie3 {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                padding: 5px;
            }
        }
    }

}
/* Nosotros */

.contenedor__nosotros {
    background-color: rgb(211, 190, 190);
    display: flex;
    
    .img__nosotros1 {
        width: auto;
       
        img {
            width: 100%;
            height: 100%;
        }

    }
    
    .text__nosotros1 {
        width: 50%;
        color: black;
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 10px;
        @include prueba;
        h1 {
            
            padding-bottom: 20px;
            font-weight: 800;    
        }
        p {
            @include prueba;
        }
        h4 {
            @include prueba;  
        } 
    }
    .img__nosotros2 {
        width: auto;
        img {
           width:100%;
           height: 100%;
        }
    }
}


    

/* servicios */

.body__servicios {
    background-color: black;
}
.main__servi {
    background-color:rgb(211, 190, 190);
    border:solid 3px black;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 50px 5px 10px 10px blueviolet;
    .main__descrip {
        width: 990px;
        h2 {
            @include prueba;
            font-size: 35px;
        }
    }
}


.contenedor__servi {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .caja__infantiles {

        border: solid 3px black;
        box-shadow: 50px 5px 10px 10px rgb(248, 78, 240);
        display: flex;
        background-color:rgb(211, 190, 190);
        .box__servi1 {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .info__infantiles {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include prueba;
            justify-content: space-around;
            padding-bottom: 50px;
            h2 {
                font-size: 80px;
                background-color: gray;
                box-shadow: 3px 3px 3px 3px blueviolet;
            }
            .list__infantiles {
                width: 600px;
                list-style: none;
                text-align: center;
                li {
                    letter-spacing: 5px;
                    text-shadow: 3px 3px 3px white;
                }
            }

        }
       
    }
    .caja__15años {

        border: solid 3px black; 
        box-shadow: 50px 5px 10px 10px blueviolet;    
        display: flex;
        flex-direction: row-reverse;
        background-color:rgb(211, 190, 190);
        .box__servi2 {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .info__15años {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include prueba;
            justify-content: space-around;
            padding-bottom: 50px;
            h2 {
                font-size: 80px;
                background-color: gray;
                box-shadow: 3px 3px 3px 3px rgb(248, 78, 240);
            }
            .list__15años {
                width: 600px;
                list-style: none;
                text-align: center;
                li {
                    letter-spacing: 5px;
                    text-shadow: 3px 3px 3px white;
                }
            }
        }
    }
    .caja__casamientos {
        background-color: rgb(211, 190, 190);
        border: solid 3px black; 
        box-shadow: 50px 5px 10px 10px rgb(248, 78, 240);     
        display: flex;
        .box__servi3 {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .info__casamientos {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include prueba;
            justify-content: space-around;
            padding-bottom: 50px;
            h2 {
                font-size: 80px;
                background-color: gray;
                box-shadow: 3px 3px 3px 3px blueviolet;
            }
            .list__casamientos {
                width: 600px;
                list-style: none;
                text-align: center;
                li {
                    letter-spacing: 5px;
                    text-shadow: 3px 3px 3px white;
                }
            }
        }
    }
    .caja__corporativo {
        background-color: rgb(211, 190, 190);
        border: solid 3px black; 
        box-shadow: 50px 5px 10px 10px blueviolet;   
        display: flex;
        flex-direction: row-reverse;
        .box__servi4 {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .info__corpo {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include prueba;
            justify-content: space-around;
            padding-bottom: 50px;
            h2 {
                font-size: 80px;
                background-color: gray;
                box-shadow: 3px 3px 3px 3px rgb(248, 78, 240);
            }
            .list__corpo {
                width: 600px;
                list-style: none;
                text-align: center;
                li {
                    letter-spacing: 5px;
                    text-shadow: 3px 3px 3px white;
                }
            }
        }
    }
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    @import "vars";
    background-color: $colorFondo;
    .contacto__tex {
       
        h1 {
            font-family: 'Caudex', serif;
            text-shadow: 2px 2px 2px blueviolet;

        }
        p {
            font-family: 'Caudex', serif; 
        }
    }
    
    

}
.contenedor__formu {
    @import "vars";
    background-color: $colorFondo;
    display: flex;
    justify-content: space-around;
   .contacto__datos {
       padding-top: 20px;
       padding-bottom: 20px;
       box-shadow: 10px 10px 20px 10px rgb(248, 78, 240) ;
      
     
       display: flex;
       justify-content: center;
       form {
           display: flex;
           flex-direction: column;
           width: 350px;
           border: solid 2px black;
           legend {
            font-family: 'Caudex', serif; 
           }
           label {
            font-family: 'Caudex', serif; 
           }
           input {
            font-family: 'Caudex', serif; 
           }
        }
       
        
    }
    .contacto__mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: 'Caudex', serif; 
        }
      
    }
  
}



@media (max-width:768px) {
    /* home */
    .contenedor__header {
        width: 100%;
    }
    .main__container {
        display: flex;
        flex-direction: column;
        .main__foto1 {
            img {
                width: 100%;
            }
        }
        .main__foto2 {
            img {
                width: 100%;

            }
        }
    }
    .data__info {
        .data__contenedor {
            width: auto;
        }

    }
    .box__info {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    /* nosotros */
    .contenedor__titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenedor__logo {
            img {
                width: auto;
    
            }
        
        }

    }
    
    .contenedor__nosotros {
        display: flex;
        flex-direction: column;
        width: 100%;
        .img__nosotros1 {
            img {
                width: 100%;
            }  
        }
        .text__nosotros1 {
            width: 100%;
        }
        .img__nosotros2 {
            img {
                width: 100%;
            }
        }
    }
    /* servicios */
    .main__servi {
        width: 100%;
    }
   
    .contenedor__servi {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        .caja__infantiles {
            display: flex;
            flex-direction: column;
            width: 100%;
            .box__servi1 {
                width: auto;
                img {
                    width: 100%;
                }
            }
            .info__infantiles {
                display: flex;
                flex-direction: column;
                width: auto;
                text-align: center;
                h2 {
                    width: 100%;
                }
                .list__infantiles {
                    width: 100%;
                }
            }
        }
        .caja__15años {
            display: flex;
            flex-direction: column;
            width: 100%;
            .box__servi2 {
                width: auto;
                img {
                    width: 100%;
                }
            }
            .info__15años {
                display: flex;
                flex-direction: column;
                width: auto;
                text-align: center;
                h2 {
                    width: 100%;

                }
                .list__15años {
                    width: 100%;
                }

            }

        }
        .caja__casamientos {
            display: flex;
            flex-direction: column;
            width: 100%;
            .box__servi3 {
                width: auto;
                img {
                    width: 100%;
                }

            }
            .info__casamientos {
                display: flex;
                flex-direction: column;
                width: auto;
                text-align: center;
                h2 {
                    width: 100%;

                }
                .list__casamientos {
                    width:100%;
                }

            }
            
        }
        .caja__corporativo {
            display: flex;
            flex-direction: column;
            width: 100%;
            .box__servi4 {
                width: auto;
                img {
                    width: 100%;
                }
            }
            .info__corpo {
                display: flex;
                flex-direction: column;
                width: auto;
                text-align: center;
                h2 {
                    width:100%;

                }
                .list__corpo {
                    width: auto;
                }

            }

        }
    }

    
    






    /* contacto */   
    .contenedor__logo {
        img {
            width: 100%;
        }
    }
   
    .contacto__formulario {
        @import "vars";
        background-color: $colorFondo;
        .contacto__tex {
            display: flex;
            flex-direction: column;
            text-align: center;

        }
    }
    .contenedor__formu {
        display: flex;
        flex-direction: column;
        width: 100%;
        .contacto__datos {
            width: 100%;
            display: flex;
            justify-content: center;
            form {
                width: 100%;
            }
        }

    }
    .pie {
        .contenedor__pie {
            display: flex;
            flex-direction: column;

        }

    }
   
}




